# Ignore asdf/direnv/bundle setup
.bundle
.direnv
.envrc
.tool-versions
Gemfile.lock

# Ignore Terraform state and lock files, along with any auto vars
.terraform
.terraform.lock.hcl
terraform.tfstate*
*.auto.tfvars*
terraform.tfvars*

# Ignore terraform-kitchen files
.kitchen
test/setup/harness.tfvars
test/reports/*
!test/reports/.gitkeep
test/ephemeral/*
!test/ephemeral/.gitkeep
